@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.card {
  padding: 50px 20px 30px 20px;
  border-radius: 20px;
  position: relative;
}

.image_container {
  background: $tif-white;
  border: 20px solid $tif-white;
  position: absolute;
  top: -50px;
  box-shadow: 0 5px 20px $tif-background;
  border-radius: 90px;
}

.image_container_middle {  
  background: $tif-blue;
  border: 20px solid $tif-blue;
}

.title {
  padding-bottom: 80px;
}

.column {
  @media (max-width: $tablet) {
    margin-bottom: 80px;
  }
}

.row {
  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }
}