$tif-aqua: #2EC4B6;
$tif-blue: #20A4F3;
$tif-orange: #F68E5F;
$tif-yellow: #FFB133;

$tif-white: white;
$tif-light-gray: #F6F7F8;
$tif-gray: #dee2e6;

$tif-background: $tif-light-gray;
$tif-border-color: $tif-gray;
$tif-blue-bottom-gradient: $tif-blue;
